aiodns
aiohttp[speedups]
asyncbooru
asyncpraw
cchardet
googletrans
gtts
hachoir
pillow
psutil
speedtest-cli
tgcrypto
wikipedia
youtube-dl
https://github.com/Nick80835/Telethon/archive/master.zip
git+https://github.com/XandarNull/pafy
